<a href="https://colab.research.google.com/github/aCoderChild/AI-learning/blob/main/NumpyAndPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link: https://jovian.com/learn/data-analysis-with-python-zero-to-pandas

# Lecture 1: Introduction to Programming with Python
Link: https://jovian.com/learn/data-analysis-with-python-zero-to-pandas/lesson/lesson-1-introduction-to-programming-with-python

# **Performing arithmetics with python:**

In [ ]:
2 + 3 #addition

5

In [ ]:
2 - 3 #subtraction

In [ ]:
2 * 3 #multiplication

In [ ]:
2 / 3 #division

In [ ]:
2 ** 3 #exponent

8

In [ ]:
2 // 3 #floor division

0

In [ ]:
2 % 3 #modular

2

# **Using variables:**

In [ ]:
cost_of_ice_bag = 1.25

In [ ]:
cost_of_ice_bag

1.25

In [ ]:
profit_margin = .2

In [ ]:
profit_margin

0.2

In [ ]:
number_of_bags = 500

In [ ]:
number_of_bags

500

In [ ]:
profit_per_bag = cost_of_ice_bag * profit_margin

In [ ]:
profit_per_bag

0.25

In [ ]:
total_profit = profit_per_bag * number_of_bags

In [ ]:
total_profit

125.0

In [ ]:
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

In [ ]:
#rewrite the solution in a single cell

#store input data in variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

#perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

#display the result
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

In [ ]:
""" Multi-line comment
keep comment short and straight to the point
only comment when you really need too
comment are not recommended
good codes do not need comments
"""

number = 1
number

1

In [ ]:
#Exercise:
"""
A travel company wants to fly a plane to the Bahamas. Flying the plane costs
5000 dollars. So far, 29 people have signed up for the trip. If the company
charges 200 dollars per ticket, what is the profit made by the company?
Create variables for each numeric quantity and use appropriate arithmetic operations.
"""

#solution
flying_plane_cost = 5000
number_of_people = 29
cost_per_person = 200

total_cost = cost_per_person * number_of_people
profit = total_cost - flying_plane_cost

profit

800

# **Evaluating conditions**

In [ ]:
# store the variables
my_fav_number = 1
my_least_fav_number = 5
my_neutral_number = 3

In [ ]:
# check if operands are EQUAL
my_fav_number == 1

True

In [ ]:
# check if operands are NOT EQUAL
my_fav_number != 1

False

>, <, >=, <= similarly

# **Combining conditions with Logical operators**

In [ ]:
my_fav_number

1

In [ ]:
my_fav_number > 0 and my_least_fav_number < 3

False

In [ ]:
my_fav_number > 0 or my_least_fav_number < 3

True

In [ ]:
not my_neutral_number == 3

False

In [ ]:
#ternary operator
print(my_fav_number if my_fav_number > my_least_fav_number else my_least_fav_number) #use ...if...else...

# in C++
# max = (a > b) ? a : b

5

# Lecture 2: Next steps with Python - Branching using conditional statements and loops
Link: https://jovian.com/learn/data-analysis-with-python-zero-to-pandas/lesson/lesson-2-next-steps-with-python

# **Branching with if, else and elif**

In [ ]:
"""
if condition:
  statement1
  statement2

---space is VERY IMPORTANT---
"""

a = 34
b = 25
if a % 2 == 0:
  print("We're inside an if block")
  print('The given number {} is even.'.format(a))
  #string format method to include the number with the message
if b % 2 == 0:
  print('The given number {} is even.'.format(a))

We're inside an if block
The given number 34 is even.

In [ ]:
"""
if condition:
  statement
else:
  statement
"""

a = 34

if a % 2 == 0:
  print("The given number {} is even.".format(a))
else:
  print("The given number {} is odd.".format(a))

The given number 34 is even.

In [ ]:
#elif statement
today = "Wednesday"

if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [ ]:
a_number = 15

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

"""
Note that the message 15 is divisible by 5 is not printed
because the condition a_number % 5 == 0 is NOT EVALUATED
"""

15 is divisible by 3

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5

In [ ]:
a_number = 49

if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

# **Non Boolean Conditions**

Conditions do NOT necessarily have to be booleans.

The conditions can be any values.

The value is converted into a boolean AUTOMATICALLY using the bool operator

Falsy values like 0, '', [], {} => false

Others: true

In [ ]:
if { 'a': 34 }:
  print({'a' : 34})
  print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

{'a': 34}
The condition evaluted to True

# **Nested conditional statement**

In [ ]:
a = 14
if a % 2 == 0:
  print("{} is an even number.".format(a))
  if(a % 3 == 0):
    print("{} is also divisible by 3".format(a))
  else:
    print("{} is not divisible by 3".format(a))
else:
  print("{} is an odd number".format(a))

# best limit the nesting to 1 or 2 levels

14 is an even number.
14 is not divisible by 3

# **Shorthand if conditional expression**

In [ ]:
a = 13

if a % 2 == 0:
  parity = "even"
else:
  parity = "odd"

print("The number {} is {}.".format(a, parity))

The number 13 is odd.

In [ ]:
a = 16
parity = "even" if a % 2 == 0 else "odd"
print("The number {} is {}.".format(a, parity))

The number 16 is even.

The conditional expression highlights an essential distinction between statements and expression:

*   Statement: an INSTRUCTION that can be executed. *Ex: assigning variables, call a function, conditional statements*
*   Expression: some code that EVALUATES TO A VALUE

In [ ]:
# if expression
a = 17
result = "even" if a % 2 == 0 else "odd"
result

'odd'

# **Pass Statement**

In [ ]:
# if statements cannot be empty
# you can use the pass statement to DO NOTHING and avoid errors

a = 9
if a % 2 == 0:
  pass
elif a % 3 == 0:
  print("{} is divisible by 3 but not divisible by 2.".format(a))

9 is divisible by 3 but not divisible by 2.

# **Iteration with while loops**

In [ ]:
%%time
#check how a cell take to EXECUTE
#need to be at the TOP of the cell
"""
while condition:
  statement(s)
"""

result = 1
i = 2
while i <= 9:
  result = result + i
  i = i +1
print("The sum from 1 to 9 is: {}".format(result))

The sum from 1 to 9 is: 45
CPU times: user 0 ns, sys: 878 µs, total: 878 µs
Wall time: 747 µs

In [ ]:
line = "*"
max_length = 10

while len(line) < max_length:
  print(line)
  line += "*"

while len(line) > 0:
  print(line)
  line = line[:-1] #assign the line to line with length - 1

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

# **Break and Continue statements**

In [ ]:
i = 2
result = 1

while i <= 9:
  #result += i
  if i == 9:
    print("Stop execution...")
    break
  result += i #change the order and the result will change accordingly
  i = i + 1 #do NOT forget to update i

print ('i: ', i)
print('result: ',result)

Stop execution...
i:  9
result:  36

In [ ]:
i = 1
result = 1

while i < 10:
  i += 1
  if i % 2 == 0:
    print("Skipping {}".format(i))
    continue
  print("Adding with {}".format(i))
  result += i

print("i:", i)
print("result:", result)
#automatically SPACE

Skipping 2
Adding with 3
Skipping 4
Adding with 5
Skipping 6
Adding with 7
Skipping 8
Adding with 9
Skipping 10
i: 10
result: 25

# **Iteration with for loops**

In [ ]:
"""
for value in sequence:
  statement(s)
"""

days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

for day in days:
  print(day)
  print() #insert line

for char in "Monday":
  print(char)

Monday

Tuesday

Wednesday

Thursday

Friday

M
o
n
d
a
y

In [ ]:
#looping over a dictionary

person = {
    "name" : "John Doe",
    "sex" : "Male",
    "age" : 32,
    "married" : True
}

for key in person:
  print(key, person[key])

print()

#new expression
for value in person.values():
  print(value)

print()

for a in person.items():
  print(a)
#when printing items, you also printing the values

print()

#seperating the key and value into seperate variables
for key, value in person.items():
  print(key, value)

name John Doe
sex Male
age 32
married True

John Doe
Male
32
True

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

name John Doe
sex Male
age 32
married True

# **Iterating using range and enumerate**

range(n): create a sequence from 0 to n - 1

range(a,b): create a sequence from a to b - 1

range(a,b,step): create a sequence of numbers from a to b - 1 with *increments of step*

In [ ]:
for i in range(7):
  print(i)

for i in range(3,7):
  print(i)

for i in range(3,7,3):
  print(i)

0
1
2
3
4
5
6
3
4
5
6
3
6

In [ ]:
list = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
for i in range(len(list)):
  print ("The value at position{} is {}".format(i, list[i]))

The value at position0 is Monday
The value at position1 is Tuesday
The value at position2 is Wednesday
The value at position3 is Thursday
The value at position4 is Friday

In [ ]:
#enumerate statement
for i, val in enumerate(list):
  print("The value at position {} is {}".format(i, val))

The value at position 0 is Monday
The value at position 1 is Tuesday
The value at position 2 is Wednesday
The value at position 3 is Thursday
The value at position 4 is Friday

In [ ]:
#Nested for and while loops

persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
  for key in person:
    print(key, person[key])
  print()

name John
sex Male

name Jane
sex Female

# Assignment 1: Basic Python

# Lecture 3: Numerical Computing with Numpy

Link: https://jovian.com/learn/data-analysis-with-python-zero-to-pandas/lesson/lesson-3-numerical-computing-with-numpy

# **Working with numerical datas**

In [ ]:
w1, w2, w3 = 0.3, 0.2, 0.5

"""
kanto_temp = 73
kanto_rainfall = 67
kanto_humidity = 43
"""
#import numpy as np

kanto = [73, 67, 43]
johto = [91, 88, 64]
hoenn = [87, 134, 58]
sinnoh = [102, 43, 37]
unnova = [69, 96, 70]

#regions = [kanto, johto, hoenn, sinnoh, unnova]
weights = [w1, w2, w3]

def crop_yield(region, weights):
  result = 0
  for x,w in zip(region, weights): #like a matrix, mulply matrix
    result += x * w
  return result

crop_yield(kanto, weights)

56.8

In [ ]:
import numpy as np

kanto = np.array([73, 67, 43])
weights = np.array([w1, w2, w3])

type(kanto) #numpy have the type ndarray

np.dot(kanto, weights) #matrix multiplication

(kanto * weights).sum()
#(*) operator performs an ELEMENT_WISE multiplication of 2 arrays
#if they have the SAME SIZE
#sum method calculate the sum of # in the arrays

56.8

**Benefits of using Numpy arrays**

1.   Ease of use
2.   Performance: numpy operations and functions are implemented internally in C++

# **Multi-dimensional Numpy arrays**

In [ ]:
climate_data = np.array([
    [73,67,43],
    [91,88,64],
    [87,134,58],
    [102,43,37],
    [69,96,70]
])

weight = np.array([0.3, 0.2, 0.5])

#3D array
arr3 = np.array([
    [
       [11,12,13],
       [13,14,15]
    ],
    [
        [15,16,17],
        [17,18,19]
    ]
])

climate_data.shape
arr3.shape

#1D array == vector

#climate_data.dtype #int

#perform matrix multiplication
np.matmul(climate_data, weight)
climate_data @ weight

array([56.8, 76.9, 81.9, 57.7, 74.9])

# **Working with CSV data files**

In [ ]:
import urllib.request
import numpy as np

urllib.request.urlretrieve('https://gist.github.com/BirajCoder/a4ffcb76fd6fb221d76ac2ee2b8584e9/raw/4054f90adfd361b7aa4255e99c2e874664094cea/climate.csv',
    'climate.txt')

#generate from text
climate_data = np.genfromtxt('climate.txt', delimiter = ',', skip_header = 1)
climate_data

climate_data.shape

weights = np.array([0.3, 0.2, 0.5])
yields = climate_data @ weights
yields

climate_result = np.concatenate((climate_data, yields.reshape(10000, 1)), axis=1)
#the axis argument specifies the DIMENSION for concatenation
#in this case 1

climate_result
np.savetxt('climate_result.txt', climate_result, fmt = '%.2f', delimiter = ',', header = 'temperature, rainfall, humidity, yield_apples', comments = ' ')



*   Mathematics: np.sum, np.exp, np.round, arithmetic operators
*   Array manipulation: np.reshape, np.stack, np.concatenate, np.split
*   Linear Algebra: np.matmul, np.dot, np.transpose, np.eigvals
*   Statistics: np.mean, np.median, np.std, np.max

# **Array Comparison**

In [ ]:
arr1 = np.array([[1,2,3], [4,5,6]])
arr2 = np.array([[2,2,3], [1,2,5]])

arr1 == arr2
#result is the array of booleans

(arr1 == arr2).sum()

2

In [ ]:
arr3 = np.array([[[11,12,13,14],[13,14,15,19]],
                [[15,16,17,21], [63,92,36,18]],
                [[98,32,81,23], [17,18,19.5,43]]])

arr3.shape

#single element
#index = 0
arr3[1,1,2]

#subarray using ranges
#Ex: 0
arr3[1:, 0:1, :2]

#mixing indices and ranges
arr3[1:, 1, 3]

#using fewer indices
arr3[1]

array([[15., 16., 17., 21.],
       [63., 92., 36., 18.]])

In [ ]:
#all zeros
np.zeros([2,2,3])

#all ones
np.ones([2,2,3])

#identity matrix
np.eye(3)

#all random
np.random.random([2,2,3])

#fix value
np.full([2,3], 42)

#range with start, end and step
np.arange(10, 90, 3)

#equally spaced numbers in a range
np.linspace(3, 27, 9)

array([ 3.,  6.,  9., 12., 15., 18., 21., 24., 27.])

# Assignment 2: Numpy Array Operations

# Lecture 4: Analyzing Tabular Data with Pandas

Link: https://jovian.com/learn/data-analysis-with-python-zero-to-pandas/lesson/lesson-4-analyzing-tabular-data-with-pandas

# **Reading a CSV file using Pandas**

CSV: comma - seperated values is a delimited text file that uses a comma to seperate values

Pandas is a popular Python library used for working in Tabular Data
(similar to the data stored in a spreadsheet).

Pandas provides helper functions to read data from various file formats
like CSV, Excel spreadsheets, HTML tables,
JSON, SQL,etc.

In [ ]:
#urllib.request module: defines functions and classes which help in opening URLs

from urllib.request import urlretrieve

italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

"""
url retrieve(url,[filename,[reporthook=None,[data,[context]]]): COPY a network
object to a local file.

return a tuple of (filename, headers) where filename is the local file
name and headers is the HTTP response headers

#can be absent
the second argument: specifies the file location to copy to (if absent, the
location will be a tempfile with a generated name)

the third argument: is a callable that will be called once on establishment of
the network connection and once after each block read thereafter
"""

import pandas as pd
covid_df = pd.read_csv('italy-covid-daywise.csv')
type(covid_df)

"""
Data from the file is read and stored in a DATAFRAME object - one of the core
data structures in Pandas for STORING and WORKING with TABULAR DATA.
"""

covid_df

#view some basic information about the data frame
covid_df.info()

#view statistical information for numerical columns (mean, standard deviation, etc.)
covid_df.describe()

#contains the list of columns within the data frame
covid_df.columns

#retrieve the number of rows and columns in the data frame
covid_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

(248, 4)

# **Retrieving data from a data frame**

In [ ]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

"""
you can think of a dataframe as a DICTIONARY of Lists: keys are column names,
value are lists/arrays containing data for the respective columns.
"""

covid_data_dict['new_cases']

covid_df['new_cases']
covid_df['new_cases'][243]
covid_df.at[243, 'new_cases']
#.at method: retrieve the element at a specific row and column directly

covid_df
# simply a 'view' of the original data frame

#a copy of covid_df: changing values inside one of them will NOT affect
#the other
covid_df_copy = covid_df.copy()

#.loc: access a specific row
covid_df.loc[243]

type(covid_df.loc[243])
#each retrieved row is also a Series object

#use .head and .tail methods to view the first or last few rows of data
covid_df.head(5) #first 5 rows of the dictionary
covid_df.tail(5)

covid_df.at[0, 'new_tests']
#values missing or unknown

type(covid_df.at[0, 'new_tests'])

covid_df.loc[108:113] #108 <= x && x <= 113

#.sample: retrieve a random sample of rows from the dataframe
covid_df.sample(10)

covid_df.new_tests.first_valid_index() #find the first non-empty index in a series
covid_df.new_tests.last_valid_index()

245

In [ ]:
# Pandas format is not similar to this
covid_data_list = [
    {'date': '2020-08-30', 'new_cases': 1444, 'new_deaths': 1, 'new_tests': 53541},
    {'date': '2020-08-31', 'new_cases': 1365, 'new_deaths': 4, 'new_tests': 42583},
    {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
    {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8 },
    {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6},
]

# **Analysing data from data frames**

In [ ]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

print('The number of reported cases is {} and the number of reported death is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported death is 35497.

In [ ]:
death_rate = covid_df.new_deaths.sum() / covid_df.new_cases.sum()
print('The death rate in Italy is {:.2f}%'.format(death_rate*100))
#:.2f: round float up to 2 numbers

The death rate in Italy is 13.07%

In [ ]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()
total_tests

5214766.0

In [ ]:
positive_rate = total_cases / total_tests
print('The test positive rate in Italy is {:.2f}%'.format(positive_rate*100))

The test positive rate in Italy is 5.21%

# **Querying and sorting rows**

In [ ]:
high_new_cases = covid_df.new_cases > 1000 #boolean expression
high_new_cases

covid_df[high_new_cases] #values of the rows which high_new_cases is TRUE

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [ ]:
#write in 1 line
high_new_cases = covid_df[covid_df.new_cases > 1000]
high_new_cases

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [ ]:
"""
The data frame contains 72 rows, but only the first & last 5 rows
are display by default with Jupyter for brevity

We can change some display options to view ALL THE ROWS
"""

from IPython.display import display
with pd.option_context('display.max_rows', 100):
    display(covid_df[covid_df.new_cases > 1000])

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
75   2020-03-15     3497.0       173.0        NaN
76   2020-03-16     2823.0       370.0        NaN
77   2020-03-17     4000.0       347.0        NaN
78   2020-03-18     3526.0       347.0        NaN
79   2020-03-19     4207.0       473.0        NaN
80   2020-03-20     5322.0       429.0        NaN
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0
121  2020-04-30     2086.0       323.0    41441.0
122  2020-05-01     1872.0       285.0    43732.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
126  2020-05-05     1221.0       195.0    32211.0
127  2020-05-06     1075.0       236.0    37771.0
128  2020-05-07     1444.0       369.0    13665.0
129  2020-05-08     1401.0       274.0    45428.0
130  2020-05-09     1327.0       243.0    36091.0
131  2020-05-10     1083.0       194.0    31384.0
134  2020-05-13     1402.0       172.0    37049.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

In [ ]:
positive_rate

0.05206657403227681

In [ ]:
high_ratio_df = covid_df[covid_df.new_cases / covid_df.new_tests > positive_rate]
high_ratio_df

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
120  2020-04-29     2091.0       382.0    38589.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
128  2020-05-07     1444.0       369.0    13665.0

In [ ]:
#the result of performing an operation on 2 columns is a NEW SERIES
covid_df.new_cases / covid_df.new_tests
#we can use this series to add a new column to the data frame

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
243    0.026970
244    0.032055
245    0.018311
246         NaN
247         NaN
Length: 248, dtype: float64

In [ ]:
covid_df['positive_rate'] = covid_df.new_cases / covid_df.new_tests
#add a new column name 'positive_rate'
covid_df

           date  new_cases  new_deaths  new_tests  positive_rate
0    2019-12-31        0.0         0.0        NaN            NaN
1    2020-01-01        0.0         0.0        NaN            NaN
2    2020-01-02        0.0         0.0        NaN            NaN
3    2020-01-03        0.0         0.0        NaN            NaN
4    2020-01-04        0.0         0.0        NaN            NaN
..          ...        ...         ...        ...            ...
243  2020-08-30     1444.0         1.0    53541.0       0.026970
244  2020-08-31     1365.0         4.0    42583.0       0.032055
245  2020-09-01      996.0         6.0    54395.0       0.018311
246  2020-09-02      975.0         8.0        NaN            NaN
247  2020-09-03     1326.0         6.0        NaN            NaN

[248 rows x 5 columns]

In [ ]:
#remove positive_rate column using drop method
covid_df.drop(columns=['positive_rate'], inplace = True)
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

# **Sorting rows using column values**

In [ ]:
covid_df.sort_values('new_cases', ascending=False).head(10)
#print the first 10 rows AFTER sorting the values (the WHOLE List)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN

In [ ]:
covid_df.head(10).sort_values('new_cases', ascending=False)
#sort the first 10 values of the list and then Print

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN
5  2020-01-05        0.0         0.0        NaN
6  2020-01-06        0.0         0.0        NaN
7  2020-01-07        0.0         0.0        NaN
8  2020-01-08        0.0         0.0        NaN
9  2020-01-09        0.0         0.0        NaN

In [ ]:
covid_df.loc[168:175]

           date  new_cases  new_deaths  new_tests
168  2020-06-16      301.0        26.0    27762.0
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

In [ ]:
covid_df.at[172, 'new_cases'] = (covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases']) / 2
covid_df.at[172, 'new_cases']

297.5

Summary:


*   **covid_df.new_cases.sum()** - Computing the sum of values in a column or series
*   **covid_df[covid_df.new_cases > 1000]** - Querying a subset of rows satisfying the chosen criteria using boolean expressions
*   **df['pos_rate'] = df.new_cases/df.new_tests** - Adding new columns by combining data from existing columns
*   **covid_df.drop('positive_rate')** - Removing one or more columns from the data frame
*   **sort_values** - Sorting the rows of a data frame using column values
*   **covid_df.at[172, 'new_cases'] **= ... - Replacing a value within the data frame